*{
    width: 100%;
}

.post{
    border-bottom: solid 1px #000;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 4%;
}

.profile{
    display: flex;
    justify-content: space-between;
}

.profile_image{
    width: 40%;
}

.profile_image img{
    height: 10vh;
    width: 10vw;
    border-radius: 50%;
}

.profile_name{
    width: 60%;
}

.content{
    display: flex;
}

.text h4{
    margin-bottom: 4%;
}



